
p {
	font-family:Arial;
	text-align:justify;
	color:gold;
	line-height:25px;
	font-size:15px;
	margin:15px;
	border-style:solid;
	border-width:thin;
	padding:10px;
	border-color:red;
	border-radius:10px;
	background-color:black;
}

h2 {
	color:red;
}

h3 {
	color:green;
}

a{
	text-decoration:none;
	color:red;
}

li{
	font-family:Arial,san-serif;
	font-size:12px;
}

table {
	border:5;
	border-color:red;
}
