
html{
	background: url("cat.jpg");
	width: :100vw;
	height:100vh;
	background-size: calc(100%);
	margin:-5;
	overflow: hidden;
}


#transprnt {
	//border:1px solid red;
	width:100.8%;
	height:50px;
	margin-top:-6px;
	margin-left: -6px;
	background:violet;
	opacity: .5;
	position: absolute;

}

#nav {
	//border:1px solid red;
	width:100.8%;
	height:50px;
	margin-top:-6px;
	margin-left: -6px;
	background:transparent;
	position:relative;

}

#logout {
	text-decoration:none;
	color:red;
	float:right;
	margin-right:2%;
	margin-top:1%;
}

#title {
	text-decoration:none;
	color:red;
	float:left;
	margin-left:2%;
	margin-top:1%;
}

.nav {
	text-decoration:none;
	color:red;
	float:left;
	margin-left:2%;
	margin-top:1%;
}


#leftContainer_opacity {
	//border:1px solid green;
	height:150px;
	width:30%;
	float:left;
	background:pink;
	opacity:.4 ;
	position: absolute;
	border-radius: 25px;
}

#leftContainer {
	//border:1px solid green;
	height:auto;
	width:30%;
	float:left;
	background:transparent;
	position:relative;
	margin:2%;
}

#rightContainer {
	//border:1px solid brown;
	height:auto;
	padding:auto;
	width:45%;
	float:right;
	margin-right:7%;
	//padding-top:5%;
	background:yellow;
	opacity: .5;
	display:none;
	
}

#searchBox {
	margin:2%;
	width:80%;
}

.searchType {
	margin-left:5%;
}

#searchBtn {
	margin:5%;
	width:20%;
}

#bookTable {
	margin:auto;
	border:1px;
	border-collapse:collapse;
	width:80%;
	background-color:white;
}

 tr:hover {
	background-color:yellow;
	color:black;
}

#bookTable, th, td {
	border:1px solid green;
	margin:2%;
}

#closeResult {
	float:right;
}